*
!/.gitignore
!/.gitattributes
!/config
!/defaultconfigs
!/scripts
!/README.md
*.bak

#specifics to ignore

**config/xaerominimap_entities.json
**/config/fancymenu
**/config/NoChatReports
**/config/jei/world
config/fml.toml
config/jei/ingredient-list-mod-sort-order.ini
