*
!/.gitignore
!/.gitattributes
!/config
!/defaultconfigs
!/scripts
!/README.md
*.bak

#specifics to ignore

**config/xaerominimap_entities.json
**/config/fancymenu
**/config/NoChatReports
**/config/jei/world
config/fml.toml
config/jei/ingredient-list-mod-sort-order.ini
config/iris.properties
config/fabric/indigo-renderer.properties
config/libraryferret_1.properties
config/bettervillage_1.properties
config/xaerominimap_entities.json
/config/forgeendertech
